{% extends 'base.htm' %}


{% block content %}


<div class="container">
    <h1 style="text-align: center;padding-top: 30px">Estadisticas</h1>
    <div style="padding-bottom: 40px;">
        <table id="mitabla" class="display">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th>Ultima Fecha Pedido</th>
                </tr>
            </thead>
            <tbody>
              
                {% for datos in estadisticas %}
                <tr>
                    <td>{{ datos.producto__titulo }}</td>
                    <td>{{ datos.cantidad }}</td>
                    <td>{{ datos.total }}</td>
                    <td>{{ datos.fecha_publicacion }}</td>
                </tr>
                {% endfor  %}




            </tbody>
        </table>
    </div>

</div>

{% endblock %}