{% extends 'base.htm' %}
{% load static %}
{% load humanize %}
{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <ul class="nav nav-tabs" style="background-color: black; padding-bottom: 10px;">
    <li class="nav-item">
      <p style="margin-left:10px; color: white; margin-top: 13px; margin-right: 10px;">Filtrar Por</p>
    </li>

    <li class="nav-item">
      {{ filtro.categoria }}
    </li>
    <li class="nav-item" style="padding-top:7px;">
      <button class="btn btn-primary">Filtrar</button>
    </li>

  </ul>
</form>

<!-- Page content -->
<div class="container" style="padding-top: 30px; padding-bottom: 30px">
  <div class="row">
    <h1 style="text-align: center;">Todos los Productos de nuestra tienda</h1>
    <br>
    {% for verTodos in productos %}
    <div class="col-lg-4">
      <div class="media" style="text-align: center; border: solid 1px black;">
        <img style="height: 150px;width: 250px;margin-top:15px;" class="img-circle" src="{{ verTodos.foto.url }}" alt="nepali-momo"> 
        <h3 class="media-heading text-primary-theme">{{ verTodos.titulo }}</h3>
        <p style="padding-bottom: 10px;">{{ verTodos.descripcion }}</p>
        <a href="{% url 'blog:verProducto' pk=verTodos.pk %}"
          class="btn btn-success">${{ verTodos.precioVenta|intcomma }} Pedir Ahora</a>
          <br>
          <br>
      </div>
    </div>

    {% endfor %}

  </div>
</div>



{{ verTodos }}



{% endblock %}